.arrow-top {
    position: fixed;
    z-index: 3;
    right: 2em;
    bottom: 2em;
}

.arrow-top a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50%;
}

.arrow-top a:hover {
    color: white;
    background-color: black;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {


}


/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
}
