.navlist {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 30px;
}

.navlist a {
    color: white;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
}

.navlist a:hover {
    color: grey;
    font-weight: 500;
    text-decoration: none;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.social-link {
  color: black;
  transition: color 0.3s ease;
}

.social-link.linkedin:hover {
  color: #0072b1;
}

.social-link.github:hover {
  color: #333;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .navlist {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 30px;
  }

  .navlist a {
    color: white;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
}

}


/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
  .navlist {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 2em;
  }

  .navlist a {
    font-size: 1em;
}

}
