.navlist {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 60px;
}

.navlist a {
    color: black;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
}

.navlist a:hover {
    color: black;
    font-weight: 500;
    text-decoration: underline;
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {

    .navlist {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: right;
        gap: 26px;
    }

    .navlist a {
        text-transform: uppercase;        font-size: 24px;
        font-size: 12px;
        font-weight: 500;
        text-decoration: none;

    }
}