.navlist {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 30px;
}

.navlist a {
    color: black;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
}

.navlist a:hover {
    color: black;
    font-weight: 500;
    text-decoration: underline;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.social-link {
  color: black;
  transition: color 0.3s ease;
}

.social-link.linkedin:hover {
  color: #0072b1;
}

.social-link.github:hover {
  color: #333;
}
