.skills-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .skills-container {
        display: flex;
        flex-direction: column;
        gap: 25px;
}

}


/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    .skills-container {
        display: flex;
        flex-direction: column;
        gap: 25px;
}

}
