.collapse {
    width: 100%;
}

.collapse-title {
    width: 100%;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #FF6060;
    font-size: 24px;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

}

.collapse-text {
    width: 100%;
    padding: 10px;
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: rgba(246, 246, 246, 0.45);
    margin: 0;
    box-sizing: border-box;
}

.collapse-list {
    list-style: none;
    font-size: 18px;
}

.chevron {
    transition: transform 0.5s ease;
}

.chevron.rotated {
    transform: rotate(180deg); 
}


/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    .collapse-title {
        font-size: 13px;
    }
    
    .collapse-text,
    .collapse-list {
        font-size: 12px;
    }
    
}