.contact {    
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.contact .sous-titre {
    font-family: "Oswald", sans-serif;
    font-size: 2em;
    margin: 0;
    font-weight: 500;
}

.contact .my-mail {
    font-size: 20px;
}
