.intro {
    background-color: black;
    color: white;
    padding-bottom: 50px;
    scroll-margin-top: 200px;
}

.intro-text {
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

}
.intro-text h1 {
    display: none;
}

.myname {
    width: 19em;
    margin-top: 75px;

}

.intro .sous-titre {
    font-family: "Oswald", sans-serif;
    font-size: 2em;
    font-weight: 500;
}

.intro .presentation {
    font-size: 1.25em;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .intro {
        text-align: center;
    }
    .myname {
        align-self: center;
    }

}
/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {

    .myname {
    width: 14em;
}

.intro .sous-titre {
    font-size: 1.75em;

}

.intro .presentation {
    font-size: 1em;

}
}