.intro h1 {
    font-family: "Coolvetica", sans-serif;
    font-size: 100px;
    text-transform: uppercase;
    margin: 0;
}

.intro .sous-titre {
    font-family: "Oswald", sans-serif;
    font-size: 35px;
    margin: 0;
}

.intro .presentation {
    margin: 0;
}