.intro {
    background-color: black;
    color: white;
    padding-bottom: 50px;
}

.intro h1 {
    font-family: "Coolvetica", sans-serif;
    font-size: 6em;
    text-transform: uppercase;
    margin: 0;
    max-width: 1200px;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;

}

.intro .sous-titre {
    font-family: "Oswald", sans-serif;
    font-size: 2em;
    margin: 0;
    font-weight: 500;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

.intro .presentation {
    font-size: 1.25em;
    margin: 0;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

}