.footer {
    width: 100%;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: static;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.jb-logo {
    margin: auto;
    width: 3em;
}

.copyright {
    font-size: 0.75em;
    color: white;
}

/* Small devices (phones, less than 768px) */
// @media (max-width: 768px) {

// }