.footer {
    width: 100%;
    height: 209px;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    /* bottom: 0; */
    left: 0;
    margin-left: 0;
    margin-right: 0;
}

.logo-white {
    width: 122px;
    align-self: center;
    padding-top: 65px;
    padding-bottom: 10px;
}

.copyright {
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: 500;
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {

    .logo-white {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .copyright {
        font-size: 12px;
    }
}