.footer {
    width: 100%;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: static;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.jb-logo {
    font-family: "Coolvetica", sans-serif;
    font-size: 5em;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
}

.copyright {
    font-size: 1em;
    color: black;
}

/* Small devices (phones, less than 768px) */
// @media (max-width: 768px) {

// }