.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;  
    box-sizing: border-box;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background: white;
    padding: 2em;
    border-radius: 10px;
    max-width: 50%;
    position: relative;
    color: black;

}

.close-btn {
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 2rem;
    border: none;
    background: none;
    cursor: pointer;
    color: gray;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: black;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.modal-title {
    font-family: "Oswald", sans-serif;
    font-size: 35px;
    font-weight: 400;
    margin: 0;
    text-align: center;
}

.modal-subtitle {
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    font-weight: 300;
    margin: 0;
    text-align: center;
}

.modal-description-skills-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    gap: 10px;
}

.modal-description {
    width: 60%;
}

.modal-description-text {
    font-size: 20px;
}

.modal-description-list {
    font-size: 15px;
    margin: 0;
}

.skills-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .gallery {
        box-sizing: border-box;
        margin-left: 1em;
        margin-right: 1em;
    }

}


/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    .gallery {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        margin-left: 1em;
        margin-right: 1em;
    }

    .modal-overlay {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
    }

    .modal {
        height: auto;
        background: white;
        padding: 30px;
        border-radius: 10px;
        max-width: 60%;
        position: relative;
        color: black;

    }

    .close-btn {
        position: absolute;
        top: 0px;
        right: 5px;
        font-size: 2rem;
        border: none;
        background: none;
        cursor: pointer;
        color: gray;
        transition: color 0.3s ease;
    }

    .close-btn:hover {
        color: black;
    }

    .modal-content{
        gap: 0.75em;
    }
    .modal-title {
        font-size: 1em;
    }

    .modal-subtitle {
        font-size: 0.75em;
    }

    .modal-description-skills-buttons {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        font-family: "Roboto", sans-serif;
        gap: 1em;
    }

    .modal-description {
        width: 100%;
    }

    .modal-description-text {
        font-size: 0.75em;
        text-align: center
    }

    .modal-description-list {
        font-size: 0.6em;
    }

    .skills-buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

}
