.jb-nav {
    width: 100%;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 2;

}

.nav {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.jb-text {
    padding-top: 1%;
    padding-bottom: 1%;
    height: 3em;
}


/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .nav {
        max-width: 1024px;
        margin-left: 2%;
        margin-right: 2%;

    }
}
/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    .jb-nav {
    position: relative;
}
    .nav {
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .jb-text {
        padding-top: 1%;
        padding-bottom: 1%;
        margin-top: 1em;
        margin-bottom: 1em;
    }

}