.jb-nav {
    width: 100%;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 2;

}

.nav {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.jb-text {
    padding-top: 1%;
    padding-bottom: 1%;
}

.jb-text {
    font-family: "Coolvetica", sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}
