.slider {
    width: 100%;
    height: 100%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.chevron-flex {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    align-items: center;
}

.chevron-left,
.chevron-right {
    width: 96px;
    height: 120px;
    aspect-ratio: auto 4/5;
    padding: 0;
    border: none;
    background: none;
}

.chevron-left:hover,
.chevron-right:hover {
    cursor: pointer;
}

.picture-number {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-shadow: 0px 3px 3px rgba(0,0,0,1);
    position: absolute;
        bottom: 0px;


}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    .slider {
        width: 100%;
        aspect-ratio: auto 335/255;
        margin-bottom: 25px;
    }

    .chevron-flex {
        position: absolute;
    
    }
}